<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VHVisualisation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <VHVisualisation.Properties.Settings>
            <setting name="FeaturesFileName" serializeAs="String">
                <value>H:\VggFc7.features</value>
            </setting>
            <setting name="ThumbnailsFileName" serializeAs="String">
                <value>H:\TrecVid-96x72-1sec.thumbs</value>
            </setting>
            <setting name="videoCountToRead" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LoadThreshold" serializeAs="String">
                <value>220</value>
            </setting>
            <setting name="InitGridSize" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="IMSwitchRuns" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="MaxFramesPerVideo" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="skipframes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NeighbouthoodSize" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TrecVidBaseID" serializeAs="String">
                <value>35345</value>
            </setting>
        </VHVisualisation.Properties.Settings>
    </userSettings>
</configuration>